.nav-menu.active {
  transition: 350ms;
  right: 0;
}
.nav-menu {
  background-color: whitesmoke;
  width: 400px;
  max-width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 55px;
  transition: 50ms;
  right: -100%;
  z-index: 99;
}
.nav-menu-items {
  width: 100%;
  list-style: none;
  display: inline-block;
  overflow-y: auto;
  max-height: 80%;
}
.nev-item {
  width: 100%;
  justify-content: center;
  display: inline-block;
}
.navButton {
  width: 80%;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
}
.header {
  width: 100%;
  text-align: right;
}
